:root {
    --navbar-color: rgb(194, 216, 226);
}

body {
    background:rgb(250, 250, 250);
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board {
    position: relative;
    margin: 0px 50px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    align-items: center;
    justify-content: center;
    width: 64px;
}

.white {
    background: #fff;
}

.blue {
    background: #65bed0
}

.selected {
    filter: brightness(85%);
}

.square:hover, .bear:hover {
    filter: brightness(95%)
}

.piece {
    height: auto;
    width: auto;
    max-height: 64px;
    max-width: 64px;
    z-index: 10 !important;
}

.killed-piece {
    height: auto;
    width: auto;
    max-height: 32px;
    max-width: 32px;
}

.killed {
    margin: 0px 10px;
}

.available {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #909090;
    opacity: 0.90;
    z-index: 99 !important;
}

.target {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #db0000;
    opacity: 0.90;
    z-index: 99 !important;
}

.banana-catch {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #e7d300;
    opacity: 0.90;
    z-index: 99 !important;
}

.num-label {
    padding: 10px;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;

}

.col {
    align-self: flex-start;
    flex-direction: column;
}

.alpha-label {
    padding: 16px 26.5px 16px;
}

.status-message {
    font-weight: bold;
    font-size: 24px;
}

.white-turn {
    display: inline-flex;
    margin: 8px;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1000px;
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
}

.black-turn {
    display: inline-flex;
    margin: 8px;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1000px;
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}

.white-space {
    margin: 32px;
}

.holder {
    display: flex;
    align-items: center;
    position: relative;
}

.history-piece {
    height: auto;
    width: auto;
    max-height: 32px;
    max-width: 32px;
    margin: 2px 0px 2px 0px;
}

.kill-overlay {
    position: absolute;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    font-size: 12px;
    text-align: center;
    color: red;
}

.history {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    background:rgb(213, 213, 213);
    width: 256px;
    height: 512px;
    margin: 80px;
    margin-top: 70px;
    margin-left: 8px;
    border: 4px solid black;
    border-radius: 10px 10px 5px 5px;
}

.history-title {
    display: flex;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background: rgb(177, 177, 177);
    width: 100%;
    height: 3.5em;
    z-index: 100;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px rgb(150, 150, 150);
}

.history-black {
    display: flex;
    flex: 1;
    background:rgb(229, 228, 228);
    width: 100%
}

.history-white {
    display: flex;
    width: 100%;
}

.history-entries {
    overflow-y: auto;
    width: 100%
}

.history-entries::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 177);
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: padding-box; 
}

.history-entries::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.history-banana-catch {
    padding-left: 10px;
}

.turn-num {
    margin-left: 16px;
    flex: 1;
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.reset-button {
    border: 0px;
    display: inline-flex;
    margin: 8px;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1000px;
    background-color: #8ddeef;
    color: rgb(65, 65, 65);
}

.reset-button:hover {
    background-color: #65bed0;
}

.forfeit-button {
    border: 0px;
    display: inline-flex;
    margin: 8px;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1000px;
    background-color: #cdcdcd;
    color: rgb(65, 65, 65);  
}

.forfeit-button:hover {
    background-color: #d15a5a;
}

.bear {
    all: unset;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav {
    position: fixed;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: fit-content;
    margin: 0px;
    margin-right: 100px;
    background: var(--navbar-color);
    border-radius: 999px;
    padding: 0px 0px 10px;
}

.nav-align {
    align-self: stretch;
}

.app-row {
    display: flex;
    flex-direction: row;
}

.grow {
    margin-left: 100px;
    flex: 1;
}

.logo {
    width: auto;
    max-width: 64px;
}

.center-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.logo-padding {
    margin-top: 20px;
}

.nav > .center-col {
    gap: 40px;
}

.nav > .center-col > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 100px;
    background: var(--navbar-color);
    overflow: hidden;
}

.nav > .center-col > *:hover {
    filter: brightness(90%);
}

.modal {
    position: absolute;
    z-index: 999;
    height: 40rem;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--navbar-color);
    box-shadow: 0px 0px 2px 2px;
    text-align: center;
    margin: 10px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
    display:flex;
    flex-direction: column;
}

.close-button, .back-button {
    all: unset;
    width: 30px;
    height: auto;
    color: black;
    background: transparent;
    border-radius: 100%;
}

.close-button:hover {
    filter: brightness(80%);
    background-color: #eb9797;
}

.back-button:hover {
    filter: brightness(80%);
    background-color:#ade2af
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px 24px 0px 0px;
    box-shadow: 0px 2px 2px gray;
    background-color: rgb(177, 177, 177);
    height: 64px;
    padding: 0px 10px;
}

.title {
    flex: 1;
}

.body {
    flex: 1;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding: 16px;
    overflow-y: auto;
}

.piece-grid {
    display: grid;
    gap: 10px;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.info-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-color);
    border-radius: 20px;
}

.info-button:hover {
    filter: brightness(90%);
}

.info-piece {
    align-self: center;
    height: auto;
    width: auto;
    max-width: 128px;
    max-height: 128px;
}

li:not(:last-child) { 
    margin-bottom: 20px;  
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    overflow-y: auto;
}

.body::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 177);
    border: 8px solid transparent;
    border-radius: 999px;
    background-clip: padding-box; 
}

.body::-webkit-scrollbar {
    width: 24px;
    background-color: transparent;
}

.navbar-button {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
    color: #737373;
    padding: 10px;
}

.rules {
    margin: 30px;
}