body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board {
    margin: 0px 50px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    display: flex;
    border: 1px solid #999;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    align-items: center;
    justify-content: center;
    width: 64px;
}

.white {
    background: #fff;
}

.blue {
    background: #65bed0
}

.selected {
    filter: brightness(95%);
}

.piece {
    height: auto;
    width: auto;
    max-height: 64px;
    max-width: 64px;
    z-index: 10 !important;
}

.killed-piece {
    height: auto;
    width: auto;
    max-height: 32px;
    max-width: 32px;
}

.killed {
    margin: 0px 10px;
}

.available {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #909090;
    opacity: 0.90;
    z-index: 99 !important;
}

.target {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #db0000;
    opacity: 0.90;
    z-index: 99 !important;
}

.num-label {
    padding: 10px;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;

}

.alpha-label {
    padding: 16px 26.5px 16px;
}

.status-message {
    margin: 32px;
    font-weight: bold;
    font-size: 24px;
}

.white-space {
    margin: 32px;
}

